<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
	<head>
    	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta content="fotogen.dk" name="description"/>
        <meta content="" name="keywords"/>
        <title>Velkommen til Daekcenter.nu</title>
        <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
        <link rel="stylesheet" type="text/css" media="screen" href="css/reset.css" />
		<link rel="stylesheet" type="text/css" media="print" href="css/print.css" />
		<link rel="stylesheet" type="text/css" media="screen" href="css/typography.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="css/styles.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="css/reveal.css" />
        <!-- js files -->
		<script src="js/jquery-1.7.1.min.js" type="text/javascript"></script>
        <script src="js/tooltip.js" type="text/javascript"></script>
        <!-- js files -->
	</head>
	<body>
        <!--[if gt IE 7]><div class="ie ie8"><![endif]-->
        <!--[if IE 7]><div class="ie ie7"><![endif]-->
        <!--[if IE 6]><div class="ie ie6"><![endif]-->
        <!--[if lt IE 6]><div class="ie ie5"><![endif]-->
        <!--[if !IE]>--><div class="ie0"><!--<![endif]-->
		<script type="text/javascript" src="js/get_nav.js"></script>
            <div id="top"></div>
            <!-- page content -->
            <div class="wrapper">
                <div id="page">
                	<!--Begin Container-->
                	<div id="container">
                    	<div class="top-decor"></div>
                        <!-- Begin left sidebar-->
                        <div id="sidebar">
                        	<div class="sidebar-inner">
                                <h1 id="logo"><a href="index.html" class="logo" title="DÆKCENTER.NU"><img src="img/logo.png" alt="DÆKCENTER" /></a></h1>
                                <div id="menu">
                                    <ul id="mainNav">
                                        <li class="active"><a href="index.html">Danmarkskort</a></li>
                                        <li><a href="afdelinger.html">Afdelinger</a></li>
                                        <li><a href="bliv-forhandler.html">Bliv forhandler</a></li>
                                    </ul>
                                </div>
                                
                                <div id="ads">
                                	<div class="ads-inner">
                                    	<p><a href="daek-faelge.html"><img src="img/michelin.jpg" alt="" /></a></p>
                                        <p><a href="daek-faelge.html"><img src="img/bridgestone.jpg" alt="" /></a></p>
                                        <p><a href="daek-faelge.html"><img src="img/continential.jpg" alt="" /></a></p>
                                        <p><a href="daek-faelge.html"><img src="img/nokiantyres.jpg" alt="" /></a></p>
                                        <p><a href="daek-faelge.html"><img src="img/pirelli.jpg" alt="" /></a></p>
                                        <p><a href="daek-faelge.html"><img src="img/goodyear.jpg" alt="" /></a></p>
                                        <p><a href="daek-faelge.html"><img src="img/yokohama.jpg" alt="" /></a></p>
                                    </div>
                                </div>
                        	</div>
                        </div>
                        <!-- / Left sidebar-->
                        <!-- Begin main content -->
                        <div id="main">
                        	<div id="contentFrame" class="w950">
                            	<h1 class="h1-tt">HELE DANMARKS DÆKCENTER - <a href="index.html">WWW.DÆKCENTER.NU</a> - SOMMERDÆK - VINTERDÆK - FÆLGE</h1>

                                <!-- The Map -->
                                <div id="DCMap">
                                    <div class="map-inner">
                                        <a id="loc01" href="iframe-sample.html" data-tooltip="tip1" style="top: 214px; left: 175px;"></a> 
                                        <a id="loc02" href="iframe-sample.html" data-tooltip="tip2" style="top: 259px; left: 242px;"></a> 
                                        <a id="loc03" href="iframe-sample.html" data-tooltip="tip3" style="top: 325px; left: 30px;"></a> 
                                        <a id="loc04" href="iframe-sample.html" data-tooltip="tip4" style="top: 311px; left: 246px;"></a> 
                                        <a id="loc05" href="iframe-sample.html" data-tooltip="tip5" style="top: 454px; left: 176px;"></a> 
                                        <a id="loc06" href="iframe-sample.html" data-tooltip="tip6" style="top: 448px; left: 189px;"></a> 
                                        <a id="loc07" href="iframe-sample.html" data-tooltip="tip7" style="top: 467px; left: 233px;"></a> 
                                        <a id="loc08" href="iframe-sample.html" data-tooltip="tip8" style="top: 465px; left: 268px;"></a> 
                                        <a id="loc09" href="iframe-sample.html" data-tooltip="tip9" style="top: 473px; left: 282px;"></a> 
                                        <a id="loc10" href="iframe-sample.html" data-tooltip="tip10" style="top: 514px; left: 298px;"></a> 
                                        <a id="loc11" href="iframe-sample.html" data-tooltip="tip11" style="top: 419px; left: 413px;"></a> 
                                        <a id="loc12" href="iframe-sample.html" data-tooltip="tip12" style="top: 356px; left: 535px;"></a> 
                                        <a id="loc13" href="iframe-sample.html" data-tooltip="tip13" style="top: 502px; left: 421px;"></a> 
                                        <a id="loc14" href="iframe-sample.html" data-tooltip="tip14" style="top: 506px; left: 439px;"></a> 
                                        <a id="loc15" href="iframe-sample.html" data-tooltip="tip15" style="top: 523px; left: 450px;"></a> 
                                        <a id="loc16" href="iframe-sample.html" data-tooltip="tip16" style="top: 497px; left: 453px;"></a> 
                                        <a id="loc17" href="iframe-sample.html" data-tooltip="tip17" style="top: 566px; left: 479px;"></a> 
                                        <a id="loc18" href="iframe-sample.html" data-tooltip="tip18" style="top: 621px; left: 466px;"></a> 
                                        <a id="loc19" href="iframe-sample.html" data-tooltip="tip20" style="top: 613px; left: 407px;"></a>
                                        <a id="loc20" href="iframe-sample.html" data-tooltip="tip21" style="top: 587px; left: 489px;"></a> 
                                    </div>
                                </div>
                                <!-- /The Map -->
                                <div id="mapTooltip" class="map-tips">
                                	<div id="tip1" class="tip">
                                    	<img src="img/shop-img.jpg" alt="" />
                                        <div class="info">
                                        	<h3>Heager auto & dæk</h3>
                                            <p>Heagervej 4 <br/>
                                            	6950 ringkøbing<br />
												Tlf.: 23 31 15 06<br />
												<a href="">www.hjulskift.dk</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                
                                <div id="DCLocations">
                                	<h1>Klik på din nærmeste forhandler</h1>
                                    <ul class="department-loc-list">
                                    	<li class="first"><a href="daekcenter-jylland.html">DÆKCENTER JYLLAND</a></li>
                                        <li><a href="daekcenter-fyn.html">DÆKCENTER FYN</a></li>
                                        <li><a href="daekcenter-sjaelland.html">DÆKCENTER SJÆLLAND</a></li>
                                        <li><a href="daekcenter-falster.html">DÆKCENTER LOLLAND - FALSTER</a></li>
                                        <li class="last"><a href="daekcenter-alle.html">SE ALLE</a></li>
                                    </ul>
                                </div>
  
                        	</div> 
                        </div>
                        <!-- / end main content -->
					</div>
                    <!--/Container-->
                    <!--footer-->
                    <div id="footer" class="w950">
                            <p>Dækcenter Kolding - Center Auto - Nr. Bjertvej 64 - 6000 Kolding - Tlf. 75 56 50 17 - <a href="http://www.center-auto-kolding.dk" target="_blank">www.center-auto-kolding.dk</a></p>
                    </div>
                    <!--/footer-->
                    <div id="toTop"><a href="#top"><img src="img/totop-btn.png" alt="Til top" /></a></div>
                </div>
            </div>
			<!--/ page content -->
           
    	</div>
        <script type="text/javascript">
			$(function () {
				var scroll_timer;
				var displayed = false;
				var $message = $('#toTop a');
				var $window = $(window);
				var top = $(document.body).children(0).position().top;
				$window.scroll(function () {
					window.clearTimeout(scroll_timer);
					scroll_timer = window.setTimeout(function () {
						if($window.scrollTop() <= top)
						{
							displayed = false;
							$message.fadeOut(500);
						}
						else if(displayed == false)
						{
							displayed = true;
							$message.stop(true, true).show().click(function () { $message.fadeOut(500); });
						}
					}, 100);
				});
			});
		</script>
	</body>
</html>