
.fl-right {float: right !important; display: inline;}
.w75{
	width:75px !important;
}
.right-form label{
	display: inline-block;
    line-height: 20px;
    padding-top: 10px;
}
.occup-form{
	
}
.txt-occ{
	width:100%;
	border:none;
	
}
.occup-form{
	border:1px gray solid;
	width:675px;
	margin-top:8px;
}
.occup-form td{
	border:1px gray solid;
	text-align:center;
	margin:0;
	padding:0;
	height:28px;
	background:white;
}
.occup-form td input{
	height:28px;
	line-height:28px;
	width:93%;
	padding-left:5px;
}
.btn-pop {
    margin-left: 250px !important;
    margin-top: 20px;
}