/*	--------------------------------------------------
	Reveal Modals
	-------------------------------------------------- */
		
	.reveal-modal-bg { 
		position: fixed; 
		height: 100%;
		width: 100%;
		background:url('../img/pop_bg.png');
		z-index: 100;
		display: none;
		top: 0;
		left: 0; 
		}
	
	.reveal-modal {
		visibility: hidden;
		top: 100px; 
		left: 48%;
		margin-left: -300px;
		width: 640px;
		background: #eee url(../img/modal-gloss.png) no-repeat -200px -80px;
		position: absolute;
		z-index: 101;
		padding: 60px 20px 34px;
		padding-right:0;
		-moz-border-radius: 12px;
		-webkit-border-radius: 12px;
		border-radius: 12px;
		-moz-box-shadow: 0 0 12px rgba(0,0,0,.4);
		-webkit-box-shadow: 0 0 12px rgba(0,0,0,.4);
		-box-shadow: 0 0 12px rgba(0,0,0,.4);
		border:3px #929292 solid;
		overflow:hidden;
		padding-bottom:20px;
		}
		
	.reveal-modal.small 		{ width: 200px; margin-left: -140px;}
	.reveal-modal.medium 		{ width: 400px; margin-left: -240px;}
	.reveal-modal.large 		{ width: 600px; margin-left: -340px;}
	.reveal-modal.xlarge 		{ width: 800px; margin-left: -440px;}
	
	.reveal-modal .close-reveal-modal {
		font-size: 22px;
		line-height: .5;
		position: absolute;
		top: 8px;
		right: 11px;
		color: #aaa;
		text-shadow: 0 -1px 1px rbga(0,0,0,.6);
		font-weight: bold;
		cursor: pointer;
		} 
.pop-top{
	 background: none repeat scroll 0 0 #DCDCDC;
    font-size: 14px;
    font-weight: bold;
    height: 45px;
    left: 0;
    line-height: 40px;
    padding-left: 20px;
    position: absolute;
    top: 0;
    width: 100%;
  }
  .reveal-modal p {
	font-size:14px;
}
