.icon-48-rokquickcart { background-image: url(images/icon-48-rokquickcart.png);}
.icon-16-rokquickcart 		 { background-image: url(images/icon-16-rokquickcart.png); }
.icon-32-rokquickcart 		 { background-image: url(images/icon-32-rokquickcart.png); }